body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.filmPoster{
  width: 40%;
  height: 40%;
}

.cards  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 325px;
  width: 100%;
}
.search, .navbar{
  text-align: center;
  position: relative;
}

.headerbackground{
  width: 100%;
}
.navbar .button{
  width: 100%;
  background-color: black;
  display: inline;
  color: #f2f2f2;
  text-align: center;
}

.container{
  width: 100%;
  height: 100vh;
}

.navbar .button:hover {
  background-color: purple;
  color: black;
}
.swiper{
  width: 80%;
  height: fit-content;
}
.searchTerm {
  text-align: center;
  padding: 6px;
  border: none;
  width: 50%;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}